<header>
    <nav>
        <span>
            <a [routerLink]="['/home-view']" [routerLinkActive]="['link-active']"> 
            Logout</a>
        </span><br>
        <span>
            <a [routerLink]="['/favorite-queue']" [routerLinkActive]="['link-active']"> 
            Favorites</a>
        </span>
    </nav>
</header>

<h1>GC Help Desk- Tickets: Welcome {{service.userName}}</h1>
<table>
    <tr>
        <th>Ticket Id</th>
        <th>Opened By</th>
        <th>Resolved By</th>
        <th>Resolution</th>
        <th>Resolved</th>
        <th>Favorited</th>
    </tr>
    <tr (click)="displayIssue(t)" *ngFor="let t of tickets; index as i"> <!--Copy here for on-click issue display-->
            <td>{{ t.id }}</td>
            <td>{{ t.openedBy }}</td>
            <td>{{ t.resolvedBy }}</td>
            <td>{{ t.resolution }}</td>
            <td>{{ t.resolved }}</td>
            <td>{{ t.favorited }}</td>
            <td><button (click)="removeTicket(t.id)">Delete</button></td>        
            <button (click)="Favorited(t)">Favorite</button>
            <button onclick="t.resolved = true">Resolve</button><br>
    </tr>
</table>

<hr>
<p>Issue for selected ticket: {{ currentIssue }}</p> <!--Copy here for on-click issue display-->

<hr>
<p>Issue:</p><input [(ngModel)]="newIssue"><button (click)="addTicket(newTicket)">Add Ticket</button>