<header>
    <nav>
        <span>
            <a [routerLink]="['/home-view']" [routerLinkActive]="['link-active']">
            Logout</a>
        </span><br>
        <span>
            <a [routerLink]="['/ticket-queue']" [routerLinkActive]="['link-active']">
            All Tickets</a>
        </span>
    </nav>
</header>

<h1>GC Help Desk- Favorites: Welcome {{service.userName}}</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Favorited By</th>
        <th>Ticket Id</th>
    </tr>
    <tr *NgFor="let f of favorites; index as i">
        <td>{{ f.id }}</td>
        <td>{{ f.favoritedBy }}</td>
        <td>{{ f.ticketId }}</td>
    </tr>
</table>
