<header>
    <nav>
        <span>
            <a [routerLink]="['/home-view']" [routerLinkActive]="['link-active']">
            Logout</a>
        </span><br>
        <span>
            <a [routerLink]="['/ticket-queue']" [routerLinkActive]="['link-active']">
            All Tickets</a>
        </span>
    </nav>
</header>

<hr>

<h1>GC Help Desk- Favorites: Welcome {{service.userName}}</h1>
<table>
    <tr>
        <th>Id</th>
        <th>Favorited By</th>
        <th>Ticket Id</th>
    </tr>
    <tr (click)="this.service.displayIssueFavorite(f.ticketId)", *NgFor="let f of favorites; index as i"> <!--Copy here for on-click issue display-->
        <td>{{ f.id }}</td>
        <td>{{ f.favoritedBy }}</td>
        <td>{{ f.ticketId }}</td>
        <td><button>Delete</button></td>        
        <button>Favorite</button>
        <button>Resolve</button><br>
    </tr>
</table>

<hr>

<p>Issue for selected ticket: {{ this.service.favoriteIssue }}</p> <!--Copy here for on-click issue display-->
