<header>
    <nav>
        <span>
            <a [routerLink]="['/home-view']" [routerLinkActive]="['link-active']">
            Restaurants</a>
        </span>
    </nav>
</header>

<!-- <h1 *ngIf="isVisible ? 'block' : 'none'">GC Help Desk- Bookmarked Tickets:</h1>
<table>
    <tr>
        <th>Bookmark Id</th>
        <th>Ticket Id</th>
        <th>Opened By</th>
        <th>Issue</th>
        <th>Resolved By</th>
        <th>Resolution</th>
        <th>Resolved</th>
        <th>Favorited</th>
    </tr>
    <tr *ngFor="let f of favorites" >
        <td>{{ f.id }}</td>
        <td>{{ f.favoritedBy }}</td>
        <td>{{ f.ticketId }}</td>
        <td>{{ f.Id }}</td>
        <td>{{ f.OpenedBy }}</td>
        <td>{{ f.Issue }}</td>
        <td>{{ f.ResolvedBy }}</td>
        <td>{{ f.Resolution }}</td>
        <td>{{ f.Resolved }}</td>
        <td>{{ f.Favorited }}</td>
        <button onclick="Edit">Edit</button> 
        <button onclick="Delete">Delete</button>
        </tr>
    </tr>
</table> -->
